.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-toggle {
    background-color: #ffffff;
    color: #570e0e;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu ul li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown-menu ul li:hover {
    background-color: #350707;
  }